@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');
/* demo setup */
*, *::before, *::after { margin: 0; padding: 0; box-sizing: border-box }
body { min-height: 100vh; padding: 2rem; background-color: #EBEBEB; font-family: 'Open Sans', sans-serif; }
body > * + *  { margin-top: 1.5em }
h1{ text-align: center; font-weight: 800; color: rgb(6 6 6); text-transform: uppercase }
blockquote { max-width: 1500em; margin-inline: auto }


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
blockquote{
  font-size: 1.4em;
  width:60%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #c08078 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

body {
  font-family: Open Sans;
  padding: 20px 40px;
  /* background-color: #3b3a3a */
}
h1 {
  font-family: Open Sans;
  margin: auto;
  text-align: center;
}

.divMid {
  display: flex;
}

p {
  text-align: center;
  margin: auto;
} 

.country:hover {
  stroke: #1d1d1d;
  stroke-width: 2px;
  opacity: 1;
}

#tooltip {
  position: absolute;
  display: none;
  background: #fff;
  box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 500;
  padding: 8px;
  min-width: 160px;
  color: #333;
}
.tooltip-title {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  font-family: Open Sans;
}

/* Axes */
.axis line {
  fill: none;
  stroke: #8693a0;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: 10px;
  fill: #6b6b6b;
}
.axis-title {
  font-size: 13px;
  fill: #888;
}
.x-axis .domain {
  stroke: #8693a0;
}
.y-axis .domain {
  stroke: #8693a0;
}

.chart-area {
  fill: #e9eff5;
}
.chart-line {
  fill: none;
  stroke: #517390;
  stroke-width: 2px;
}

.legend-title {
  font-size: 0.7rem;
  font-weight: 600;
  font-family: Open Sans;
}
.legend-label {
  font-size: 0.7rem;
  font-family: Open Sans;
}

/* Style the header: fixed position (always stay at the top) */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 95%;
  background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #aa3904;
  width: 0%;
}
